@font-face {
    font-family: 'iconfont';  /* project id 252421 */
    src: url('//at.alicdn.com/t/font_i0br19ac741v2t9.eot');
    src: url('//at.alicdn.com/t/font_i0br19ac741v2t9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_i0br19ac741v2t9.woff') format('woff'),
    url('//at.alicdn.com/t/font_i0br19ac741v2t9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_i0br19ac741v2t9.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jinzhi:before { content: "\e600"; }

.icon-iconfont07:before { content: "\e605"; }

.icon-guanbi:before { content: "\e603"; }

.icon-tishi:before { content: "\e672"; }

.icon-yonghusuoyou:before { content: "\e675"; }

.icon-ai-user:before { content: "\e60c"; }

.icon-gerenzhongxin:before { content: "\e62a"; }

.icon-shezhi-copy-copy:before { content: "\e636"; }

.icon-shenherenwu:before { content: "\e63f"; }

.icon-shujuzhongxin:before { content: "\e621"; }

.icon-yunxu:before { content: "\e648"; }

.icon-shujutongji:before { content: "\e7be"; }

.icon-xiala:before { content: "\e63a"; }

.icon-arrow:before { content: "\e63b"; }

.icon-xiaoxi:before { content: "\e60d"; }

.icon-wenhao:before { content: "\e601"; }

.icon-yonghuxinxi:before { content: "\e735"; }

.icon-menu:before { content: "\e681"; }

